<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Account</title>
</head>
<body>
<h1>My Account</h1>

<form th:action="@{/account}" th:object="${user}" method="post">
    <label>Shipping Address: <input type="text" th:field="*{shippingAddress}" /></label><br/>
    <label>Payment Method: <input type="text" th:field="*{paymentMethod}" /></label><br/><br/>
    <button type="submit">Save</button>
</form>

<p><a th:href="@{/booklist}">Back to Book List</a></p>
</body>
</html>
